.select-time h3 {
  color: rgb(102, 102, 239);
}
.times {
  display: flex;
  justify-content: space-around;
}
.t-btn {
  padding: 15px;
  border: 7px;
  border-radius: 50%;
}
.t-btn:hover {
  background: rgb(118, 238, 160);
}
.time-calculation h3 {
  color: rgb(102, 102, 239);
}
.ex-time {
  background: #f1f1f1;
  padding: 7px 22px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.a-btn {
  border-radius: 10px;
  padding: 10px 0;
  width: 100%;
  margin: 10px 0;
  border: none;
  background: rgb(116, 128, 239);
  color: white;
  font-weight: 600;
  font-size: 18px;
}
.a-btn:hover {
  background: rgb(118, 238, 160);
}
